#launcher-pane {
    -fx-background-color: black;
}

#top-pane {
    -fx-background-color: black;
}

#user-name-text {
    -fx-fill: whitesmoke;
    -fx-font-family: monospace;
    -fx-font-size: 30px;
}

#user-name-field {
    -fx-text-fill: whitesmoke;
    -fx-background-color: #23272a;
    -fx-font-family: monospace;
    -fx-font-size: 20px;
    -fx-min-width: 300px;
}

#title {
    -fx-fill: yellow;
    -fx-font-size: 125px;
    -fx-font-family: monospace;
}

#connect-button {
    -fx-background-color: orange;
    -fx-text-fill: whitesmoke;
    -fx-font-family: monospace;
    -fx-font-size: 20px;
}

.list-view {
    -fx-background: #23272a;
    -fx-min-width: 700px;
}

.lobby-button {
    -fx-background-color: orange;
    -fx-text-fill: whitesmoke;
    -fx-font-family: monospace;
    -fx-font-size: 30px;
    -fx-min-width: 300px;
    -fx-min-height: 75px;
}

#join-button {
    -fx-background-color: deepskyblue;
    -fx-text-fill: whitesmoke;
    -fx-font-family: monospace;
    -fx-font-size: 15px;
    -fx-min-width: 75px;
    -fx-min-height: 25px;
}

.lobby-text {
    -fx-background: #23272a;
    -fx-fill: whitesmoke;
    -fx-font-size: 15px;
    -fx-font-family: monospace;
}

.list-cell {
    -fx-background-color: #23272a;
}

#lobby-pane .jfx-button {
    -fx-background-color: orange;
    -fx-font-family: monospace;
    -fx-text-fill: whitesmoke;
    -fx-min-width: 300px;
    -fx-font-size: 15px;
}

.text-area {
    -fx-background-color: #23272a;
    -fx-control-inner-background: #23272a;
    -fx-text-fill: whitesmoke;
    -fx-min-width: 1000px;
    -fx-min-height: 500px;
    -fx-font-family: monospace;
    -fx-font-size: 15px;
}


#lobby-pane .text-field {
    -fx-background-color: #2c2f33;
    -fx-text-fill: whitesmoke;
    -fx-min-width: 700px;
    -fx-font-family: monospace;
    -fx-font-size: 15px;
}

#lobby-title {
    -fx-fill: whitesmoke;
    -fx-font-size: 30px;
    -fx-font-family: monospace;
}

#create-button {
    -fx-background-color: orange;
    -fx-text-fill: whitesmoke;
    -fx-font-family: monospace;
    -fx-font-size: 11px;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;

}

#lobby-field {
    -fx-background-color: #2c2f33;
    -fx-text-fill: whitesmoke;
    -fx-font-family: monospace;
    -fx-font-size: 11px;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;

}